html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #565656;
	font-size: 14px;
}

section{
  margin-bottom: 2em;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	padding: 0.4em 0 !important;
	width: 100px;
	margin-right: 10px;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	outline:0;
}

span {
	margin-right: 10px;
}

input {
	margin-right: 20px;
}

.cChart {
	margin: 10px;
}

@media (max-width: 670px) {
  .cChart {
    margin: 10px 0;
  }
}

.c3-ygrid-line line {
	stroke: #e2e2e2;
	/* stroke: #2c2c2c; */
	stroke-dasharray: 3;
}

.c3-ygrid-line text {
	/* stroke: #2c2c2c; */
}


.chart .c3-grid .c3-xgrid-focus {
  visibility : hidden !important;
}

.c3 svg, .c3-legend-item  {
  font-family: 'IBM Plex Mono';
  font-size: 11px !important;
}

.chart .c3-legend-item-tile {
  stroke-width: 2px;
}

.chart-line .c3-legend-item-Umland .chart-line .c3-legend-item-tile, .chart-line .c3-legend-item-Kernstadt .c3-legend-item-tile, .chart-line .c3-legend-item-StadtRegionen-Gesamt .c3-legend-item-tile, .chart-line .c3-legend-item-Umland-ohne-Kernstädte .c3-legend-item-tile {
  stroke-width: 1px;
}

.chart-line .c3-legend-item-Umland .c3-legend-item-tile {
  stroke-dasharray: 1, 1;
}

.chart-line .c3-legend-item-Umland-ohne-Kernstädte .c3-legend-item-tile {
  stroke-dasharray: 3, 3;
}

.chart-line .c3-lines path {
  stroke-width: 2px;
} 

.chart-line .c3-target-Umland .c3-lines-Umland path {
  stroke-dasharray: 2, 2;
  stroke-width: 1px;
}

.chart-line .c3-target-Kernstadt .c3-lines-Kernstadt path {
  stroke-width: 1px;
}

.chart-line .c3-target-StadtRegionen-Gesamt .c3-lines-StadtRegionen-Gesamt path {
  stroke-width: 1px;
}

.chart-line .c3-target-Umland-ohne-Kernstädte .c3-lines-Umland-ohne-Kernstädte path {
  stroke-dasharray: 6, 6;
  stroke-width: 1px;
}

.c3-axis .tick line {
  stroke: #242424;
  display: none;
}

.c3-axis .tick text {
  fill: #242424;
}

.c3-axis .domain {
	/* stroke: #b1b1b1; */
	stroke: none;
}



/* Tooltip */
.c3-tooltip-container {
  max-height: none !important;
}

.c3-tooltip {
  box-shadow: none;
	width: 100%;
	border: 1px solid #e0e0e0;
	opacity: 1;
}

.c3-tooltip tr {
  /* border-left: none !important;
  border-right: none !important; */
	border: none;
	opacity: 1;
}

.c3-tooltip td.name {
	border-left: none !important;
	opacity: 1;
}

.c3-tooltip tr:first-child {
	/* display: none; */
  /* background: #fff !important;
  color: black !important; */
}

.c3-tooltip th {
	background-color: #fff;
	opacity: 1;
	font-size: 14px;
	padding: 2px 5px;
	text-align: left;
	color: #565656;
}

.c3-tooltip-container .c3-chart-line {
  opacity: 0 !important;
}


.tooltip-wrapper {
  position: relative;
  display: inline-block;
  display: flex !important;;
  align-items: center !important;;
  justify-content: flex-end !important;;
}

.tooltip {
  position: absolute;
  font-family: inherit;
  white-space: nowrap;
  color: inherit;
  padding: 8px 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 150ms;
  border: 1px solid #e2e2e2;
  font-family: 'IBM Plex Mono' !important;
	font-size: 10px !important;
	background: #fff !important;
	border-radius: 0 !important;;
}

.tooltip.top {
  left: 50%;
  transform: translate(-50%, -70%);
  margin-top: -8px;
}

.tooltip.bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin-bottom: -8px;
}

.tooltip.left {
  left: 0;
  transform: translateX(-100%);
  margin-left: -8px;
}

.tooltip.right {
  right: 0;
  transform: translateX(100%);
  margin-right: -8px;
}

.tooltip.active {
  opacity: 1;
  visibility: initial;
}

.tooltip-slot:hover + .tooltip {
  opacity: 1;
  visibility: initial;
}

